body{
  font-family: montserrat;
}
.center{
  align-self: center;
}
.btn-xl {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
}

.container-extra{
  max-height:400px;
  max-width: 85%;
}
.overflow{
  overflow: auto;

}
.country{
  display: inline-block;
  width: 50%;
  text-align: center;
}
.confirmed{
  display: inline-block;
  width: 15%;
  text-align: center;
}
.active{
  display: inline-block;
  width: 15%;
  text-align: center;
}
.death{
  display: inline-block;
  width: 15%;
  text-align: center;
}

.unscrollable{
  position:absolute;
}
svg circle {
  fill: #663399;
}