body{
  font-family: montserrat;
}
.center{
  align-self: center;
}
.btn-xl {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
}

.container-extra{
  max-height:500px;
  max-width: 85%;
    
}
.overflow{
  overflow: auto;

}
.country{
  display: inline-block;
  width: 50%;
  text-align: center;
  
}
.confirmed{
  display: inline-block;
  width: 15%;
  text-align: center;
}
.active{
  display: inline-block;
  width: 15%;
  text-align: center;
}
.death{
  display: inline-block;
  width: 15%;
  text-align: center;
}

.unscrollable{
  position:absolute;
}
svg circle {
  fill: #663399;
}


#containera {
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
}
                          
.card{
  background-color: rgba(26, 5, 2, 0.651);
  color: white;
}
.card:hover{
  box-shadow: 0 0 51px rgba(15, 8, 8, 0.719); 

}
.title{
  font-size: 30px;
  text-align: left;

}
.author{
  text-align: right;

}

.mid{
  margin-top: 10px;
  display: inline-flex;
  text-align: left;
}
.image{
  padding: 5px;
  max-width: 100px;
  max-height: 100px;
}
.desc{
  padding: 5px;

}
